<div class="show-page-wrap" id="conversation">
  <div class="message-container">
    <div class="message-window" data-id="<%= @conversation.id %>">
      <%= render @conversation.messages %>
    </div>

    <div class="message-form">
      <%= simple_form_for :new_message do |f| %>
        <%= f.input :current_user, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :content, input_html: { placeholder: 'Write message...', autocomplete: 'off' } %>
      <% end %>
    </div>
  </div>
</div>
