<div class="show-page-wrap">

  <div class="message-container">

    <div class="message-window">
      <% @conversation.messages.each do |message| %>
        <div class="message.wrap <%= message.user == current_user ? 'message-wrap-user' : '' %>">
          <div class="messages <%= message.user == current_user ? 'message-user' : '' %>">
            <%= message.content %>
          </div>
          </div>
      <% end %>
    </div>

    <div class="message-form">
      <%= simple_form_for [@conversation, @message] do |f| %>
        <%= f.input :content, :input_html => { placeholder: 'Write message ...' } %>
      <% end %>
    </div>

  </div>
</div>
