<% if params[:action] == 'lost' || params[:action] == 'map'  %>

  <div class="top-menu-wrap">
    <div class="menu-item">
        <%= image_tag 'settings_white.svg', class: 'menu-settings' %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag("logo_white.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
      <%= image_tag 'chat_white.svg', class: 'menu-chat' %>
    </div>
  </div>

<% else %>

  <div class="top-menu-wrap-white">
    <div class="menu-item">
        <%= image_tag 'settings_black.svg', class: 'menu-settings' %>
    </div>
    <div class="menu-item">
      <%= link_to image_tag("logo_green.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
        <%= image_tag 'chat_black.svg', class: 'menu-chat' %>
    </div>
  </div>

<% end %>

<div class="menu-wrap">

  <div class="menu-item item-left">
    <%= link_to image_tag("map_black.svg", class: "menu-map"), map_path %>
  </div>

  <div class="menu-item">
    <%= link_to 'LOST', lost_items_path%>
  </div>

  <div class="menu-item">
    <div class="menu-button">
      <%= image_tag 'plus_white.svg', class: 'menu-plus' %>
    </div>
  </div>

  <div class="menu-item">
    <%= link_to 'FIND', found_items_path%>
  </div>

  <div class="menu-item item-right">
    <%= image_tag 'search_black.svg', class: 'menu-search' %>
  </div>

</div>
