<% if params[:action] == 'new_found' || params[:action] == 'new_lost' || (params[:action] == 'new' && params[:controller] == 'items') %>

<% elsif params[:action] == 'lost' || params[:action] == 'map' %>

  <div class="top-menu-wrap">
    <div class="menu-item">
        <%= image_tag 'settings_white.svg', class: 'menu-settings' %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag("logo_green.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
      <%= link_to image_tag('chat_white.svg', class: 'menu-chat'), conversations_path %>
    </div>
  </div>

<% elsif params[:action] == 'show' && params[:controller] == 'items' && @item.lost? %>

  <div class="top-menu-wrap-dark">
    <div class="menu-item">
        <%= image_tag 'settings_white.svg', class: 'menu-settings' %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag("logo_green.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
      <%= link_to image_tag('chat_white.svg', class: 'menu-chat'), conversations_path %>
    </div>
  </div>

<% elsif (params[:action] == 'show' || params[:action] == 'new') && params[:controller] == 'conversations' %>

  <div class="top-menu-wrap-white">
    <div class="menu-item">
        <%=link_to image_tag('simple_arrow_black.svg', class: 'menu-back'), :back %>
    </div>
    <div class="menu-item menu-message-user">
      <i class="fas fa-user"></i>
      <% if  params[:action] == 'show' %>
        <%= current_user == @conversation.keeper ? @conversation.seeker.first_name : @conversation.keeper.first_name %>
      <% end %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag('chat_black.svg', class: 'menu-chat'), conversations_path%>
    </div>
  </div>

<% else %>

  <div class="top-menu-wrap-white">
    <div class="menu-item">
      <% if params[:controller] == 'users' %>
        <%=link_to image_tag('simple_arrow_black.svg', class: 'menu-back'), :back %>
      <% else %>
        <%= image_tag 'settings_black.svg', class: 'menu-settings' %>
      <% end %>

    </div>
    <div class="menu-item">
      <%= link_to image_tag("logo_green.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag('chat_black.svg', class: 'menu-chat'), conversations_path %>
    </div>
  </div>

<% end %>


<% if params[:action] == 'new_found' || (params[:action] == 'new' && params[:controller] == 'items') %>

<% else %>
  <div class="menu-wrap">

    <div class="menu-item item-left">
        <%= link_to image_tag("map_black.svg", class: "menu-map"), map_path, alt: 'Submit'%>
      </form>
    </div>

    <div class="menu-item">
      <%= link_to 'LOST', lost_items_path%>
    </div>

    <div class="menu-item">
      <div class="menu-button">
        <%= image_tag 'plus_white.svg', class: 'menu-plus' %>
      </div>
    </div>

    <div class="menu-item">
      <%= link_to 'FIND', found_items_path%>
    </div>

    <div class="menu-item item-right">
      <%= link_to (image_tag 'search_black.svg', class: 'menu-search'),  search_path %>
    </div>
  </div>

  <div class="menu-background-dark">
    <div class="menu-title">
      <h2>Add a new Item</h2>
    </div>
  </div>

  <div class="menu-background-green">
    <%= link_to 'Lost?', new_lost_items_path(state: :lost), class: 'button-lost-menu' %>
    <%= link_to 'Found?', new_found_items_path(state: :found), class: 'button-found-menu' %>

    <div class="menu-wrap-green">
        <div class="menu-button-back">
        <%= image_tag 'arrow_green.svg', class: 'menu-plus' %>
      </div>
    </div>
  </div>

<% end %>
