<top class="top-menu-wrap">

    <div class="menu-item">
        <%= image_tag 'settings_black.svg', class: 'menu-settings' %>
  </div>

  <div class="menu-item">
        <%= image_tag 'chat_black.svg', class: 'menu-chat' %>
  </div>

</top>

<div class="menu-wrap">

  <div class="menu-item item-left">
    <%= image_tag 'map_black.svg', class: 'menu-map' %>
  </div>

  <div class="menu-item">
    LOST
  </div>

  <div class="menu-item">
    <div class="menu-button">
      <%= image_tag 'plus_white.svg', class: 'menu-plus' %>
    </div>
  </div>

  <div class="menu-item">
    FIND
  </div>

  <div class="menu-item item-right">
    <%= image_tag 'search_black.svg', class: 'menu-search' %>
  </div>

</div>
