<div class="settings-page-wrap">

  <div class="top-menu-wrap">
    <div class="menu-item">
        <%= image_tag 'simple_arrow_white.svg', class: 'settings-back' %>
    </div>
    <div class="menu-item">
        <%= link_to image_tag("logo_green.svg", class: "menu-logo"), root_path %>
    </div>
    <div class="menu-item">
      <%= link_to image_tag('chat_white.svg', class: 'menu-chat'), conversations_path %>
    </div>
  </div>

  <% if user_signed_in? %>

    <div class="settings-wrap">

      <!-- profile picture and name -->

      <div class="settings-user-wrap">
        <%= image_tag 'placeholder.jpg', class: 'settings-placeholder' %>
        <div class="settings-user-details">
          <h4><%= current_user.first_name %></h4>
          <h4> <%= current_user.last_name %></h4>
          <div class="settings-average-review">
            <%= render 'reviews/rating_settings', user_rating: current_user.average_rating %>
          </div>
          <p>Add profile picture</p>
        </div>
      </div>

      <!-- Account information -->

      <div class="settings-account">
        <div class="account-items account-header">
          Account settings
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'settings-links' %>
        </div>
        <div class="account-items">
          <p>Email</p>
          <p><%= current_user.email %></p>
        </div>
        <div class="account-items">
          <p>Phone number</p>
          <p><%= current_user.phone_number %></p>
        </div>
      </div>

      <!-- Display lost and found items -->

      <% if current_user.items.lost %>

        <div class="settings-items-wrap">
          <div class="settings-items-header">
            <h4>Your lost items</h4>
            <%= image_tag 'simple_arrow_green.svg', class: 'settings-arrow' %>
          </div>
          <div class="settings-item-content">
            <% current_user.items.lost.each do |item| %>
              <div class="settings-item-details">
                <p><%= link_to item.title, item_path(item) %></p>
                <div class="settings-icon-wrap">
                  <%= link_to item_edit_lost_path(item) do %>
                 <i class="fas fa-pencil-alt"></i>
                 <% end %>
                 <div class="icon-space"></div>
                  <%= link_to item_path(item),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>

              </div>
            <% end %>
          </div>
        </div>

      <% end %>

      <% if current_user.items.found %>

        <div class="settings-items-wrap">
          <div class="settings-items-header">
            <h4>Your found items</h4>
            <%= image_tag 'simple_arrow_green.svg', class: 'settings-arrow-found' %>
          </div>
          <div class="settings-item-content-found">
            <% current_user.items.found.each do |item| %>
              <div class="settings-item-details">
                <p><%= link_to item.title, item_path(item) %></p>
                <div class="settings-icon-wrap">
                <%= link_to item_edit_found_path(item) do %>
                 <i class="fas fa-pencil-alt"></i>
                 <% end %>
                 <div class="icon-space"></div>
                <%= link_to item_path(item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>

      <!-- Display user reviews -->

      <% if current_user.reviews_as_reviewed %>

        <div class="settings-items-wrap">
          <div class="settings-items-header">
            <h4>Your reviews</h4>
            <%= image_tag 'simple_arrow_green.svg', class: 'settings-arrow-reviews' %>
          </div>
          <div class="settings-item-content-reviews">
            <% current_user.reviews_as_reviewed.each do |r| %>
              <div class="settings-review-wrap">
                <%= render 'reviews/rating_settings', user_rating: r.rating %>
                <div class="settings-review-content">
                  <%= r.content %>
                </div>
                <div class="settings-review-author">
                  <%= link_to (User.find(r.reviewer_id).first_name), user_path(r.reviewer.id) %>
                </div>
              </div>
            <% end  %>
           </div>
        </div>
      <% end %>

      <!-- Sign out -->

      <div class="settings-sign-out">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>

    </div>

  <!-- If user is not signed in -->

  <% else %>

  <div class="settings-sign-in">
    <%= link_to 'Sign in', new_user_session_path, class: 'button-green' %>
  </div>

  <% end %>


</div>
