<% if item.state == "lost" %>
  <div class="map-popup-black">
      <%= image_tag "pointer_black.svg" %>
    <div class="map-title">
      <h6><%= link_to item.title, item, class: "text-decoration-none" %></h6>
      <p><%= item.category %></p>
      <h6 class="reward">Reward: <%= item.reward %> kr </h6>
    </div >
  </div>
<% else %>
  <div class="map-popup-white">
    <%= image_tag "pointer_white.svg" %>
    <div class="map-title">
      <h6><%= link_to item.title, item, class: "text-decoration-none" %></h6>
      <p><%= item.category %></p>
      <h6 class="reward">Reward: <%= item.reward %> kr </h6>
    </div >
  </div>
<% end %>
