<div class="new-item-page-background">

</div>

 <div class="menu-title">
    <h2>Edit found item</h2>
  </div>

<div class="new-found-background-green">

</div>

<div class="new-found-background-white">
  <div class="new-item-form">
    <%= simple_form_for @item do |f| %>
      <%= f.input :title, :input_html => { placeholder: 'What have you found?', autocomplete: 'off'} %>
      <div class="search-dropdown">
        <div class="search-dropdown-results lost-dropdown drop-down-hidden">
        </div>
      </div>
      <%= f.input :description, :input_html => {:rows => 3, placeholder: 'Describe the item you ahve found', autocomplete: 'off'} %>
      <%= f.input :category, collection: Item::CATEGORIES, prompt: 'Select a category', :input_html => { placeholder: 'Please choose category' } %>
      <%= f.input :address, :input_html => { placeholder: 'Where did you find it?', autocomplete: 'off' } %>
      <div class="button-wrap">
      <%= f.button :submit, class:"button-green" %>
      <div class="button-space"></div>
      <%= link_to "Found Items", found_items_path, class:"button-dark"  %>
      </div>
    <% end %>

  </div>
</div>
