<div class="search-form d-flex justify-content-center" id="search-page-form">
    <%= simple_form_for :query, :url => url_for(:action => 'index', :controller => 'items'), :method => 'get' do |f| %>
      <%= f.input :title, :input_html => { placeholder: 'What you are loockig for?' }, required: false %>
      <%= f.input :address, :input_html => { placeholder: 'Please enter your address ...' }, required: false %>
      <%= f.input :category, collection: Item::CATEGORIES, prompt: 'Select category', :input_html => { placeholder: 'Please choose category'}, required: false %>
      <%= f.input :state, collection: ['lost', 'found'], prompt: 'Lost or Found?', :input_html => { placeholder: '' }, required: false %>
      <%= f.input :field, as: :range %>
      <div class="d-flex justify-content-between">
        <%= f.input :start_date, as: :date, html5: true, class: "date", label: "from:", required: false %>
        <%#= f.input :stop_date, as: :date, html5: true, class: "date", label: "to:", required: false %>
      </div>
      <div class="button-wrap">
        <%= f.button :submit, 'Search', class:"button-green"%>
      </div>
    <% end %>
</div>
<%= request.env %>
