<h1><%= @user.first_name %></h1>

<% if @reviews %>
<ul>
  <% @reviews.each do |r| %>
  <li>
    <p>Review:<%= r.content %></p>
    <p>Rating:  <%= r.rating %> </p>
    <p>Author: <%= User.find(r.reviewer_id).first_name %></p>
  </li>
<% end  %>
</ul>
<% end %>



<%= link_to 'Create Review', new_user_review_path(@user)  %>
