<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Lost and Found - for the greater good!">
    <meta name="description" content="Contribute to the local community, help people get their belongings back. Quick and easy, no hassle!">
    <title>Lost and Found - for the greater good!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= render 'shared/menu' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/user_settings' %>

    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
