<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Lost and Found - for the greater good!">
    <meta name="description" content="Contribute to the local community, help people get their belongings back. Quick and easy, no hassle!">
    <title>Lost and Found - for the greater good!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <% if signed_in? %>
      <script>
        window.conversationIds = <%=j current_user.conversations.map(&:id) %>;
      </script>
    <% end %>
  </head>
  <body>

    <%= render 'shared/menu' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/user_settings' %>

    <div id="new_message_wrapper"></div>

    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js" integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  </body>
</html>
